<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>notes</title>
</head>

<body>
	<a href="/new">new note</a>

	<div>
 		 <% notes.each do |note| %>
 		 	<div>
 		 		<h3><%= note[:title] %></h3>
 		 		<p><%= note[:text] %></p>
 		 	</div>
 		 	<hr />
 		 <% end %>
	</div>
</body>

</html>
